.cardContainer {
    width: 100%;
    height: 100%;
    position: relative;

    img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
    }

    .info {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0,0,0,0.7);
        padding: 6px 12px;
        border-radius: 12px;
        font-size: 12px;
        margin-left: 6px;
        margin-bottom: 6px;
        width: calc(100% - 36px);
        color: white;

        .play {
            background-color: #d65e5e;
            padding: 3px;
            border-radius: 100%;
        }
    }
}