@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@import 'pages/index.scss';

@import '../components/Navigation/Navigation';
@import '../components/IndexSlider/IndexSlider';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}